/*https://css-loaders.com/spinner/*/

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #292929;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.loader {
    position: relative;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
    animation: l22 2s infinite linear;
}

    .loader::before,
    .loader::after {
        content: "";
        grid-area: 1/1;
        margin: 15%;
        border-radius: 50%;
        background: inherit;
        animation: inherit;
    }

    .loader::after {
        margin: 25%;
        animation-duration: 3s;
    }

@keyframes l22 {
    100% {
        transform: rotate(1turn)
    }
}
